In [20]:
import pandas as pd
from tqdm import tqdm
import numpy as np

In [21]:
data = pd.read_csv("business_attributes_old.csv")
data['categories'] = data['categories'].str.replace(", ","|")
data = data.drop(["Unnamed: 0"], axis=1)
data

,name,address,postal_code,stars,categories,useful_review,useful_count
0,St Honore Pastries,935 Race St,19107.0,4.0,Restaurants|Food|Bubble Tea|Coffee & Tea|Bakeries,I really enjoyed my brief visit to St.Honore P...,35
1,Tuna Bar,205 Race St,19106.0,4.0,Sushi Bars|Restaurants|Japanese,Finally got a chance to check this place out f...,32
2,BAP,1224 South St,19147.0,4.5,Korean|Restaurants,I've been told I have nice BAPs. I have no ide...,14
3,Bar One,767 S 9th St,19147.0,4.0,Cocktail Bars|Bars|Italian|Nightlife|Restaurants,$6.50 for a Kenzinger and the bartender didn't...,7
4,DeSandro on Main,4105 Main St,19127.0,3.0,Pizza|Restaurants|Salad|Soup,Secura? Sacada? I'm not sure. But you know who...,3
...,...,...,...,...,...,...,...
5047,Stina Pizzeria,1705 Snyder Ave,19145.0,4.5,Pizza|Restaurants|Mediterranean,Stina is without a doubt worthy all the hype!!...,23
5048,Flip-N-Pizza,1308 W Girard Ave,19123.0,4.0,Restaurants|American (Traditional)|Chicken Win...,I ordered through Uber Eats. The food was prep...,3
5049,Ali Baba Magic Food,37TH And Walnut,19104.0,4.0,Restaurants|Food Stands,Free taste.\nStill don't know what it was.\nIt...,2
5050,Tata Cafe,7201 Germantown Ave,19119.0,4.0,Sandwiches|Restaurants|Italian,Neighborhood gem! \n\nWe appreciate the promp...,3
5051,Adelita Taqueria & Restaurant,1108 S 9th St,19147.0,4.5,Restaurants|Mexican,"Love, love, love Adelita's! Wandered\nIn after...",4

In [22]:
data.to_csv("business_attributes.csv")